.darkmode {
    --base-color: black;
    --boxShadow: 0 10px 20px rgba(255, 255, 255, 0.5);
    --glowColor: gold;
    --opacity1: 0.5;
    --opacity2: 0.6;

    /*backToTop*/
    --arrow-color: #ECECEC;
    --color-surface: #0b0b0b; /* Elevation 1 */
    --color-surface-variant: #0b0b0b; /* Elevation 1 */
    --color-surface-high: #191919; /* Elevation 2 */
    --color-surface-high-hover: var(--color-surface-higher);
    --color-surface-higher: #333333; /* Elevation 3 */
    --color-surface-higher-hover: #484848; /* Elevation 3 */
}

.icon {
    color: var(--arrow-color);
}

#theme-switch {
    height: 5.4vh;
    width: 5.4vh;
    padding: 0;
    border-radius: 100%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 3px;
    cursor: pointer;
    z-index: 2;
  }
  
  #theme-switch svg:last-child {
    display: none;
  }
  
  .darkmode #theme-switch svg:first-child {
    display: none;
  }
  
  .darkmode #theme-switch svg:last-child {
    display: block;
  }

  #backToTop {
  background-color: var(--color-surface-high);
  color: var(--color-on-surface-high);
  box-shadow: var(--shadow-2);
}